<a href="https://colab.research.google.com/github/jgalazka/GLDS-211_Paul_2021/blob/main/GLDS_211_Variance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import scipy.stats

In [2]:
!wget https://genelab-data.ndc.nasa.gov/genelab/static/media/dataset/GLDS-211_rna_seq_Normalized_Counts.csv?version=1

--2021-04-22 22:25:16--  https://genelab-data.ndc.nasa.gov/genelab/static/media/dataset/GLDS-211_rna_seq_Normalized_Counts.csv?version=1
Resolving genelab-data.ndc.nasa.gov (genelab-data.ndc.nasa.gov)... 161.40.160.169, 161.40.160.139
Connecting to genelab-data.ndc.nasa.gov (genelab-data.ndc.nasa.gov)|161.40.160.169|:443... connected.
HTTP request sent, awaiting response... 307 307
Location: https://genelab-data.ndc.nasa.gov/geode-py/ws/studies/GLDS-211/download?file=GLDS-211_rna_seq_Normalized_Counts.csv&version=1 [following]
--2021-04-22 22:25:17--  https://genelab-data.ndc.nasa.gov/geode-py/ws/studies/GLDS-211/download?file=GLDS-211_rna_seq_Normalized_Counts.csv&version=1
Reusing existing connection to genelab-data.ndc.nasa.gov:443.
HTTP request sent, awaiting response... 302 FOUND
Location: https://genelab-repo-prod.s3.amazonaws.com/genelab-data/GLDS-211/rna_seq/GLDS-211_rna_seq_Normalized_Counts.csv?versionId=h21qiHzNdw_ni1HMWNhNOgLPSq9HQtZE&AWSAccessKeyId=ASIASEHL3NLHYZHQ5GIB&Signature=B8ryI%2BSfTooN4%2Bs5PaSqMsvH2no%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEFkaCXVzLXdlc3QtMiJGMEQCIDFplfmTH%2FaDvPs1qFeuaM5qBFlg5aaO61K8O7Z%2FA4AVAiBcUZ%2BX3fhEgB4Rd2H%2FzAJQuoj%2FeCB7NjNkwQZo8tMoyyq9AwjC%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAIaDDE0NjUyMzUxNTU5OSIMZw65Lf1ZU3YBhc0aKpEDW9P5IdcZgVVxJeqEj3f1%2FiQzw24hSVRlsVeAikTDzgf8Ge5zVEjExSVdUnpco7SMkq1mknOTNWnH7Acsh3q4vu76FBs53ZFk8T%2B%2Fqyne%2BwquWn4eVl5YtuHe1TLdirK226OABlPSwktyC%2B%2FNDCBqOJqRlESg%2FJtc9PAY9r%2Fqq2bpZDqDTJFraUrvizD6i7XQXsTmALOAbflqhOkwir00b5rn04JlCENqnbVEjPQnlKtj1FcPyMUjWs0hLl6mnhWQ7IxW1j%2B8ymJ1v0cu7N32mOSBSWPFdIhA4VkcGyiYpWqVOmYkb3tV5IIODtehOiz4lv3nQg3tEdGKnW937Fmt2FiLb0XB4Bg%2FJ0YLgJ00e6pGpZXEeoBqrKUXxy4mhXBQVjTYpf9NGhidOPFx%2F5Y29wSw1SCdxUZTG1dilVspw5hZ3JFxVVWSmkS%2FguwsdiZyxp9LBwPpvkt9BMm95NWPDG2sOpcCkjTkqM4RJbc5eoPeNQJqX4uAnRHnDq0noocXQibz1Q5feG4zJHxSccO0E1YwqsaGhAY67AFGrEsIEI1RN4aFrKU8d2jvOGFp91bU2dh09nb0NVl%2BHfrCRQTHFiAJx%2FDkaoBiEVWJQXz62%2FqF9u%2FQ5X4MIunnCqFgeiK2sAuCHrORWBcTDQdAmXjMnfszWHqMYJMlUfzKEKnbw%2BhzGcL6SXJDfHNcSGmr6nvfHJ2gUOd1LGjVT4uuqfHfxvWnI1632BqQCRwJFJLs8rNwnmvPTtUOtllesrxwN30ucjKmr1Sf%2FRkuPKeurd75nXu%2FOPGtJUUM6FfpaiyrjuNXBSPn6ab5wDXlqurfaq9Tj89CelWguRDBTp1mysrEr%2Bbb9vDDIQ%3D%3D&Expires=1619133917 [following]
--2021-04-22 22:25:17--  https://genelab-repo-prod.s3.amazonaws.com/genelab-data/GLDS-211/rna_seq/GLDS-211_rna_seq_Normalized_Counts.csv?versionId=h21qiHzNdw_ni1HMWNhNOgLPSq9HQtZE&AWSAccessKeyId=ASIASEHL3NLHYZHQ5GIB&Signature=B8ryI%2BSfTooN4%2Bs5PaSqMsvH2no%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEFkaCXVzLXdlc3QtMiJGMEQCIDFplfmTH%2FaDvPs1qFeuaM5qBFlg5aaO61K8O7Z%2FA4AVAiBcUZ%2BX3fhEgB4Rd2H%2FzAJQuoj%2FeCB7NjNkwQZo8tMoyyq9AwjC%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAIaDDE0NjUyMzUxNTU5OSIMZw65Lf1ZU3YBhc0aKpEDW9P5IdcZgVVxJeqEj3f1%2FiQzw24hSVRlsVeAikTDzgf8Ge5zVEjExSVdUnpco7SMkq1mknOTNWnH7Acsh3q4vu76FBs53ZFk8T%2B%2Fqyne%2BwquWn4eVl5YtuHe1TLdirK226OABlPSwktyC%2B%2FNDCBqOJqRlESg%2FJtc9PAY9r%2Fqq2bpZDqDTJFraUrvizD6i7XQXsTmALOAbflqhOkwir00b5rn04JlCENqnbVEjPQnlKtj1FcPyMUjWs0hLl6mnhWQ7IxW1j%2B8ymJ1v0cu7N32mOSBSWPFdIhA4VkcGyiYpWqVOmYkb3tV5IIODtehOiz4lv3nQg3tEdGKnW937Fmt2FiLb0XB4Bg%2FJ0YLgJ00e6pGpZXEeoBqrKUXxy4mhXBQVjTYpf9NGhidOPFx%2F5Y29wSw1SCdxUZTG1dilVspw5hZ3JFxVVWSmkS%2FguwsdiZyxp9LBwPpvkt9BMm95NWPDG2sOpcCkjTkqM4RJbc5eoPeNQJqX4uAnRHnDq0noocXQibz1Q5feG4zJHxSccO0E1YwqsaGhAY67AFGrEsIEI1RN4aFrKU8d2jvOGFp91bU2dh09nb0NVl%2BHfrCRQTHFiAJx%2FDkaoBiEVWJQXz62%2FqF9u%2FQ5X4MIunnCqFgeiK2sAuCHrORWBcTDQdAmXjMnfszWHqMYJMlUfzKEKnbw%2BhzGcL6SXJDfHNcSGmr6nvfHJ2gUOd1LGjVT4uuqfHfxvWnI1632BqQCRwJFJLs8rNwnmvPTtUOtllesrxwN30ucjKmr1Sf%2FRkuPKeurd75nXu%2FOPGtJUUM6FfpaiyrjuNXBSPn6ab5wDXlqurfaq9Tj89CelWguRDBTp1mysrEr%2Bbb9vDDIQ%3D%3D&Expires=1619133917
Resolving genelab-repo-prod.s3.amazonaws.com (genelab-repo-prod.s3.amazonaws.com)... 52.218.224.122
Connecting to genelab-repo-prod.s3.amazonaws.com (genelab-repo-prod.s3.amazonaws.com)|52.218.224.122|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7560098 (7.2M) [application/octet-stream]
Saving to: ‘GLDS-211_rna_seq_Normalized_Counts.csv?version=1’

GLDS-211_rna_seq_No 100%[===================>]   7.21M  6.07MB/s    in 1.2s

2021-04-22 22:25:19 (6.07 MB/s) - ‘GLDS-211_rna_seq_Normalized_Counts.csv?version=1’ saved [7560098/7560098]

In [3]:
normcounts = pd.read_csv('GLDS-211_rna_seq_Normalized_Counts.csv?version=1', index_col=0)

In [4]:
normcounts = normcounts + 1
normcounts.head()

                    Mmus_C57-6J_SPL_HLLC_IRC_Rep1_M18  ...  Mmus_C57-6J_SPL_HLU_IR_Rep6_M19
ENSMUSG00000000001                          28.879981  ...                        19.682667
ENSMUSG00000000028                           3.587926  ...                        12.314823
ENSMUSG00000000049                           1.750916  ...                         2.701406
ENSMUSG00000000056                          30.773253  ...                        23.844700
ENSMUSG00000000058                           3.221871  ...                         4.494364

[5 rows x 21 columns]

In [5]:
n=0
for column in normcounts.columns:
  print(str(n), column)
  n=n+1

0 Mmus_C57-6J_SPL_HLLC_IRC_Rep1_M18
1 Mmus_C57-6J_SPL_HLLC_IRC_Rep2_M21
2 Mmus_C57-6J_SPL_HLLC_IRC_Rep3_M22
3 Mmus_C57-6J_SPL_HLLC_IRC_Rep4_M25
4 Mmus_C57-6J_SPL_HLLC_IRC_Rep5_M2
5 Mmus_C57-6J_SPL_HLLC_IRC_Rep6_M12
6 Mmus_C57-6J_SPL_HLLC_IR_Rep1_M7
7 Mmus_C57-6J_SPL_HLLC_IR_Rep2_M13
8 Mmus_C57-6J_SPL_HLLC_IR_Rep3_M14
9 Mmus_C57-6J_SPL_HLLC_IR_Rep4_M23
10 Mmus_C57-6J_SPL_HLLC_IR_Rep5_M24
11 Mmus_C57-6J_SPL_HLLC_IR_Rep6_M1
12 Mmus_C57-6J_SPL_HLU_IRC_Rep1_M8
13 Mmus_C57-6J_SPL_HLU_IRC_Rep2_M10
14 Mmus_C57-6J_SPL_HLU_IRC_Rep3_M16
15 Mmus_C57-6J_SPL_HLU_IR_Rep1_M3
16 Mmus_C57-6J_SPL_HLU_IR_Rep2_M9
17 Mmus_C57-6J_SPL_HLU_IR_Rep3_M11
18 Mmus_C57-6J_SPL_HLU_IR_Rep4_M15
19 Mmus_C57-6J_SPL_HLU_IR_Rep5_M17
20 Mmus_C57-6J_SPL_HLU_IR_Rep6_M19

In [6]:
control_samples = normcounts.columns[0:6]
print(control_samples)
print(control_samples.size)

ldr_samples = normcounts.columns[6:12]
print(ldr_samples)
print(ldr_samples.size)

hlu_samples = normcounts.columns[12:15]
print(hlu_samples)
print(hlu_samples.size)

simspace_samples = normcounts.columns[15:21]
print(simspace_samples)
print(simspace_samples.size)

Index(['Mmus_C57-6J_SPL_HLLC_IRC_Rep1_M18',
       'Mmus_C57-6J_SPL_HLLC_IRC_Rep2_M21',
       'Mmus_C57-6J_SPL_HLLC_IRC_Rep3_M22',
       'Mmus_C57-6J_SPL_HLLC_IRC_Rep4_M25', 'Mmus_C57-6J_SPL_HLLC_IRC_Rep5_M2',
       'Mmus_C57-6J_SPL_HLLC_IRC_Rep6_M12'],
      dtype='object')
6
Index(['Mmus_C57-6J_SPL_HLLC_IR_Rep1_M7', 'Mmus_C57-6J_SPL_HLLC_IR_Rep2_M13',
       'Mmus_C57-6J_SPL_HLLC_IR_Rep3_M14', 'Mmus_C57-6J_SPL_HLLC_IR_Rep4_M23',
       'Mmus_C57-6J_SPL_HLLC_IR_Rep5_M24', 'Mmus_C57-6J_SPL_HLLC_IR_Rep6_M1'],
      dtype='object')
6
Index(['Mmus_C57-6J_SPL_HLU_IRC_Rep1_M8', 'Mmus_C57-6J_SPL_HLU_IRC_Rep2_M10',
       'Mmus_C57-6J_SPL_HLU_IRC_Rep3_M16'],
      dtype='object')
3
Index(['Mmus_C57-6J_SPL_HLU_IR_Rep1_M3', 'Mmus_C57-6J_SPL_HLU_IR_Rep2_M9',
       'Mmus_C57-6J_SPL_HLU_IR_Rep3_M11', 'Mmus_C57-6J_SPL_HLU_IR_Rep4_M15',
       'Mmus_C57-6J_SPL_HLU_IR_Rep5_M17', 'Mmus_C57-6J_SPL_HLU_IR_Rep6_M19'],
      dtype='object')
6

In [7]:
control_mean = normcounts[control_samples].mean(axis=1)
print(control_mean.head())
control_stdev = normcounts[control_samples].std(axis=1)
print(control_stdev.head())
control_cv = (control_stdev / control_mean)
print(control_cv.head())
control_df = pd.concat([control_mean, control_cv], axis=1)
control_df.columns = ['Mean', 'CV']
control_df['Group'] = 'Control'
control_df.head()

ENSMUSG00000000001    20.153765
ENSMUSG00000000028     3.056329
ENSMUSG00000000049     2.644355
ENSMUSG00000000056    25.038579
ENSMUSG00000000058     2.233907
dtype: float64
ENSMUSG00000000001    12.085367
ENSMUSG00000000028     1.561546
ENSMUSG00000000049     2.388466
ENSMUSG00000000056     8.471564
ENSMUSG00000000058     1.203100
dtype: float64
ENSMUSG00000000001    0.599658
ENSMUSG00000000028    0.510922
ENSMUSG00000000049    0.903232
ENSMUSG00000000056    0.338340
ENSMUSG00000000058    0.538563
dtype: float64

                         Mean        CV    Group
ENSMUSG00000000001  20.153765  0.599658  Control
ENSMUSG00000000028   3.056329  0.510922  Control
ENSMUSG00000000049   2.644355  0.903232  Control
ENSMUSG00000000056  25.038579  0.338340  Control
ENSMUSG00000000058   2.233907  0.538563  Control

In [8]:
ldr_mean = normcounts[ldr_samples].mean(axis=1)
ldr_stdev = normcounts[ldr_samples].std(axis=1)
ldr_cv = ldr_stdev / ldr_mean

ldr_df = pd.concat([ldr_mean, ldr_cv], axis=1)
ldr_df.columns = ['Mean', 'CV']
ldr_df['Group'] = 'LDR'

hlu_mean = normcounts[hlu_samples].mean(axis=1)
hlu_stdev = normcounts[hlu_samples].std(axis=1)
hlu_cv = hlu_stdev / hlu_mean

hlu_df = pd.concat([hlu_mean, hlu_cv], axis=1)
hlu_df.columns = ['Mean', 'CV']
hlu_df['Group'] = 'HLU'

simspace_mean = normcounts[simspace_samples].mean(axis=1)
simspace_stdev = normcounts[simspace_samples].std(axis=1)
simspace_cv = simspace_stdev / simspace_mean

simspace_df = pd.concat([simspace_mean, simspace_cv], axis=1)
simspace_df.columns = ['Mean', 'CV']
simspace_df['Group'] = 'simSpace'

In [9]:
all = pd.concat([control_df, ldr_df, hlu_df, simspace_df])
all['Mean'] = all['Mean']
all['Log2_Mean'] = np.log2(all['Mean'])
all.head()

                         Mean        CV    Group  Log2_Mean
ENSMUSG00000000001  20.153765  0.599658  Control   4.332977
ENSMUSG00000000028   3.056329  0.510922  Control   1.611800
ENSMUSG00000000049   2.644355  0.903232  Control   1.402916
ENSMUSG00000000056  25.038579  0.338340  Control   4.646081
ENSMUSG00000000058   2.233907  0.538563  Control   1.159569

In [10]:
all.to_csv('GLDS-211 variance reshaped.csv')

In [11]:
zero_to_two = all[(all['Log2_Mean'] < 2.0)]
zero_to_two[['CV','Group']].groupby('Group').mean()
zero_to_two[['CV','Group']].groupby('Group').std()
zero_two_desc = zero_to_two[['CV','Group']].groupby('Group').describe()['CV']
zero_two_desc['Section'] = 'Zero_to_two'
zero_two_desc.head()

           count      mean       std  ...       75%       max      Section
Group                                 ...
Control   6894.0  0.541963  0.205848  ...  0.652327  1.827883  Zero_to_two
HLU       8587.0  0.498616  0.358109  ...  0.720589  1.298939  Zero_to_two
LDR       7172.0  0.564098  0.216366  ...  0.677430  1.777293  Zero_to_two
simSpace  7303.0  0.624329  0.257390  ...  0.771027  1.812923  Zero_to_two

[4 rows x 9 columns]

In [12]:
two_to_four = all[(all['Log2_Mean'] >= 2.0) & (all['Log2_Mean'] <4.0)]
two_to_four[['CV','Group']].groupby('Group').mean()
two_to_four[['CV','Group']].groupby('Group').std()
two_to_four_desc = two_to_four[['CV','Group']].groupby('Group').describe()['CV']
two_to_four_desc['Section'] = 'Two_to_four'
two_to_four_desc.head()

           count      mean       std  ...       75%       max      Section
Group                                 ...
Control   7918.0  0.502458  0.215977  ...  0.606467  2.240044  Two_to_four
HLU       7206.0  0.615484  0.320381  ...  0.803907  1.623611  Two_to_four
LDR       7996.0  0.530167  0.226555  ...  0.633477  2.278099  Two_to_four
simSpace  7769.0  0.617603  0.266769  ...  0.741763  2.286793  Two_to_four

[4 rows x 9 columns]

In [13]:
four_to_six = all[(all['Log2_Mean'] >= 4.0) & (all['Log2_Mean'] <6.0)]
four_to_six[['CV','Group']].groupby('Group').mean()
four_to_six[['CV','Group']].groupby('Group').std()
four_to_six_desc = four_to_six[['CV','Group']].groupby('Group').describe()['CV']
four_to_six_desc['Section'] = 'Four_to_six'
four_to_six_desc.head()

           count      mean       std  ...       75%       max      Section
Group                                 ...
Control   5401.0  0.370706  0.184511  ...  0.454675  2.303246  Four_to_six
HLU       4412.0  0.403936  0.266574  ...  0.524719  1.699885  Four_to_six
LDR       5077.0  0.376152  0.187908  ...  0.459317  2.062960  Four_to_six
simSpace  5114.0  0.446185  0.227091  ...  0.551441  2.014387  Four_to_six

[4 rows x 9 columns]

In [14]:
six_to_eight = all[(all['Log2_Mean'] >= 6.0) & (all['Log2_Mean'] <8.0)]
six_to_eight[['CV','Group']].groupby('Group').mean()
six_to_eight[['CV','Group']].groupby('Group').std()
six_to_eight_desc = six_to_eight[['CV','Group']].groupby('Group').describe()['CV']
six_to_eight_desc['Section'] = 'Six_to_eight'
six_to_eight_desc.head()

           count      mean       std  ...       75%       max       Section
Group                                 ...
Control   2134.0  0.270151  0.146485  ...  0.323939  1.648063  Six_to_eight
HLU       2012.0  0.260290  0.202752  ...  0.322012  1.596252  Six_to_eight
LDR       2078.0  0.263049  0.152076  ...  0.307151  2.080702  Six_to_eight
simSpace  2077.0  0.320687  0.213861  ...  0.371691  1.947311  Six_to_eight

[4 rows x 9 columns]

In [15]:
over_eight = all[(all['Log2_Mean'] >= 8.0)]
over_eight[['CV','Group']].groupby('Group').mean()
over_eight[['CV','Group']].groupby('Group').std()
over_eight_desc = over_eight[['CV','Group']].groupby('Group').describe()['CV']
over_eight_desc['Section'] = 'Over_eight'
over_eight_desc.head()

          count      mean       std  ...       75%       max     Section
Group                                ...
Control   611.0  0.269730  0.148590  ...  0.324166  1.550977  Over_eight
HLU       741.0  0.248437  0.215815  ...  0.310828  1.217484  Over_eight
LDR       635.0  0.259598  0.180518  ...  0.289171  1.940483  Over_eight
simSpace  695.0  0.327319  0.253592  ...  0.377946  1.771585  Over_eight

[4 rows x 9 columns]

In [16]:
combined_described = pd.concat([zero_two_desc, two_to_four_desc,
                                four_to_six_desc, six_to_eight_desc,
                                over_eight_desc])
combined_described.head()

           count      mean       std  ...       75%       max      Section
Group                                 ...
Control   6894.0  0.541963  0.205848  ...  0.652327  1.827883  Zero_to_two
HLU       8587.0  0.498616  0.358109  ...  0.720589  1.298939  Zero_to_two
LDR       7172.0  0.564098  0.216366  ...  0.677430  1.777293  Zero_to_two
simSpace  7303.0  0.624329  0.257390  ...  0.771027  1.812923  Zero_to_two
Control   7918.0  0.502458  0.215977  ...  0.606467  2.240044  Two_to_four

[5 rows x 9 columns]

In [17]:
combined_described.to_csv('combined_descriptive.csv')

In [18]:
rangeFrame = combined_described[combined_described['Section'] == 'Zero_to_two']

sample1s = []
sample2s = []
mean1s = []
mean2s = []
std1s = []
std2s = []
count1s = []
count2s = []
stats = []
pvalues = []

for i in range(0, 4):
  name1 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
  mean1 = rangeFrame.iloc[i, 1]
  std1 = rangeFrame.iloc[i, 2]
  count1 = rangeFrame.iloc[i, 0]

  for i in range(0, 4):
    name2 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
    mean2 = rangeFrame.iloc[i, 1]
    std2 = rangeFrame.iloc[i, 2]
    count2 = rangeFrame.iloc[i, 0]

    test = scipy.stats.ttest_ind_from_stats(mean1, std1, count1, mean2, std2, count2)
    #print(str(test[0]), str(test[1]))

    sample1s.append(name1)
    sample2s.append(name2)
    mean1s.append(mean1)
    mean2s.append(mean2)
    std1s.append(std1)
    std2s.append(std2)
    count1s.append(count1)
    count2s.append(count2)
    stats.append(test[0])
    pvalues.append(test[1])

statistics02 = pd.DataFrame(zip(sample1s, sample2s, mean1s, mean2s, std1s, std2s,
                               count1s, count2s, stats, pvalues))
statistics02.columns = ['Group 1', 'Group 2', 'Group 1 Mean', 'Group 2 Mean',
                     'Group 1 STD', 'Group 2 STD', 'Group 1 Count', 'Group 2 Count',
                     't-statistic', 'pvalue']
statistics02.head()

               Group 1               Group 2  ...  t-statistic        pvalue
0  Control_Zero_to_two   Control_Zero_to_two  ...     0.000000  1.000000e+00
1  Control_Zero_to_two       HLU_Zero_to_two  ...     8.934807  4.531086e-19
2  Control_Zero_to_two       LDR_Zero_to_two  ...    -6.211516  5.395333e-10
3  Control_Zero_to_two  simSpace_Zero_to_two  ...   -20.980745  2.828128e-96
4      HLU_Zero_to_two   Control_Zero_to_two  ...    -8.934807  4.531086e-19

[5 rows x 10 columns]

In [19]:
rangeFrame = combined_described[combined_described['Section'] == 'Two_to_four']

sample1s = []
sample2s = []
mean1s = []
mean2s = []
std1s = []
std2s = []
count1s = []
count2s = []
stats = []
pvalues = []

for i in range(0, 4):
  name1 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
  mean1 = rangeFrame.iloc[i, 1]
  std1 = rangeFrame.iloc[i, 2]
  count1 = rangeFrame.iloc[i, 0]

  for i in range(0, 4):
    name2 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
    mean2 = rangeFrame.iloc[i, 1]
    std2 = rangeFrame.iloc[i, 2]
    count2 = rangeFrame.iloc[i, 0]

    test = scipy.stats.ttest_ind_from_stats(mean1, std1, count1, mean2, std2, count2)
    #print(str(test[0]), str(test[1]))

    sample1s.append(name1)
    sample2s.append(name2)
    mean1s.append(mean1)
    mean2s.append(mean2)
    std1s.append(std1)
    std2s.append(std2)
    count1s.append(count1)
    count2s.append(count2)
    stats.append(test[0])
    pvalues.append(test[1])

statistics24 = pd.DataFrame(zip(sample1s, sample2s, mean1s, mean2s, std1s, std2s,
                               count1s, count2s, stats, pvalues))
statistics24.columns = ['Group 1', 'Group 2', 'Group 1 Mean', 'Group 2 Mean',
                     'Group 1 STD', 'Group 2 STD', 'Group 1 Count', 'Group 2 Count',
                     't-statistic', 'pvalue']
statistics24.head()

               Group 1               Group 2  ...  t-statistic         pvalue
0  Control_Two_to_four   Control_Two_to_four  ...     0.000000   1.000000e+00
1  Control_Two_to_four       HLU_Two_to_four  ...   -25.637136  6.215250e-142
2  Control_Two_to_four       LDR_Two_to_four  ...    -7.895825   3.071075e-15
3  Control_Two_to_four  simSpace_Two_to_four  ...   -29.738406  4.164453e-189
4      HLU_Two_to_four   Control_Two_to_four  ...    25.637136  6.215250e-142

[5 rows x 10 columns]

In [20]:
rangeFrame = combined_described[combined_described['Section'] == 'Four_to_six']

sample1s = []
sample2s = []
mean1s = []
mean2s = []
std1s = []
std2s = []
count1s = []
count2s = []
stats = []
pvalues = []

for i in range(0, 4):
  name1 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
  mean1 = rangeFrame.iloc[i, 1]
  std1 = rangeFrame.iloc[i, 2]
  count1 = rangeFrame.iloc[i, 0]

  for i in range(0, 4):
    name2 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
    mean2 = rangeFrame.iloc[i, 1]
    std2 = rangeFrame.iloc[i, 2]
    count2 = rangeFrame.iloc[i, 0]

    test = scipy.stats.ttest_ind_from_stats(mean1, std1, count1, mean2, std2, count2)
    #print(str(test[0]), str(test[1]))

    sample1s.append(name1)
    sample2s.append(name2)
    mean1s.append(mean1)
    mean2s.append(mean2)
    std1s.append(std1)
    std2s.append(std2)
    count1s.append(count1)
    count2s.append(count2)
    stats.append(test[0])
    pvalues.append(test[1])

statistics46 = pd.DataFrame(zip(sample1s, sample2s, mean1s, mean2s, std1s, std2s,
                               count1s, count2s, stats, pvalues))
statistics46.columns = ['Group 1', 'Group 2', 'Group 1 Mean', 'Group 2 Mean',
                     'Group 1 STD', 'Group 2 STD', 'Group 1 Count', 'Group 2 Count',
                     't-statistic', 'pvalue']
statistics46.head()

               Group 1               Group 2  ...  t-statistic        pvalue
0  Control_Four_to_six   Control_Four_to_six  ...     0.000000  1.000000e+00
1  Control_Four_to_six       HLU_Four_to_six  ...    -7.273432  3.772823e-13
2  Control_Four_to_six       LDR_Four_to_six  ...    -1.496423  1.345735e-01
3  Control_Four_to_six  simSpace_Four_to_six  ...   -18.749890  3.496025e-77
4      HLU_Four_to_six   Control_Four_to_six  ...     7.273432  3.772823e-13

[5 rows x 10 columns]

In [21]:
rangeFrame = combined_described[combined_described['Section'] == 'Six_to_eight']

sample1s = []
sample2s = []
mean1s = []
mean2s = []
std1s = []
std2s = []
count1s = []
count2s = []
stats = []
pvalues = []

for i in range(0, 4):
  name1 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
  mean1 = rangeFrame.iloc[i, 1]
  std1 = rangeFrame.iloc[i, 2]
  count1 = rangeFrame.iloc[i, 0]

  for i in range(0, 4):
    name2 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
    mean2 = rangeFrame.iloc[i, 1]
    std2 = rangeFrame.iloc[i, 2]
    count2 = rangeFrame.iloc[i, 0]

    test = scipy.stats.ttest_ind_from_stats(mean1, std1, count1, mean2, std2, count2)
    #print(str(test[0]), str(test[1]))

    sample1s.append(name1)
    sample2s.append(name2)
    mean1s.append(mean1)
    mean2s.append(mean2)
    std1s.append(std1)
    std2s.append(std2)
    count1s.append(count1)
    count2s.append(count2)
    stats.append(test[0])
    pvalues.append(test[1])

statistics68 = pd.DataFrame(zip(sample1s, sample2s, mean1s, mean2s, std1s, std2s,
                               count1s, count2s, stats, pvalues))
statistics68.columns = ['Group 1', 'Group 2', 'Group 1 Mean', 'Group 2 Mean',
                     'Group 1 STD', 'Group 2 STD', 'Group 1 Count', 'Group 2 Count',
                     't-statistic', 'pvalue']
statistics68.head()

                Group 1                Group 2  ...  t-statistic        pvalue
0  Control_Six_to_eight   Control_Six_to_eight  ...     0.000000  1.000000e+00
1  Control_Six_to_eight       HLU_Six_to_eight  ...     1.802657  7.151470e-02
2  Control_Six_to_eight       LDR_Six_to_eight  ...     1.543751  1.227239e-01
3  Control_Six_to_eight  simSpace_Six_to_eight  ...    -8.966774  4.503112e-19
4      HLU_Six_to_eight   Control_Six_to_eight  ...    -1.802657  7.151470e-02

[5 rows x 10 columns]

In [22]:
rangeFrame = combined_described[combined_described['Section'] == 'Over_eight']

sample1s = []
sample2s = []
mean1s = []
mean2s = []
std1s = []
std2s = []
count1s = []
count2s = []
stats = []
pvalues = []

for i in range(0, 4):
  name1 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
  mean1 = rangeFrame.iloc[i, 1]
  std1 = rangeFrame.iloc[i, 2]
  count1 = rangeFrame.iloc[i, 0]

  for i in range(0, 4):
    name2 = rangeFrame.index[i] + '_' + rangeFrame.iloc[i, 8]
    mean2 = rangeFrame.iloc[i, 1]
    std2 = rangeFrame.iloc[i, 2]
    count2 = rangeFrame.iloc[i, 0]

    test = scipy.stats.ttest_ind_from_stats(mean1, std1, count1, mean2, std2, count2)
    #print(str(test[0]), str(test[1]))

    sample1s.append(name1)
    sample2s.append(name2)
    mean1s.append(mean1)
    mean2s.append(mean2)
    std1s.append(std1)
    std2s.append(std2)
    count1s.append(count1)
    count2s.append(count2)
    stats.append(test[0])
    pvalues.append(test[1])

statisticsOver8 = pd.DataFrame(zip(sample1s, sample2s, mean1s, mean2s, std1s, std2s,
                               count1s, count2s, stats, pvalues))
statisticsOver8.columns = ['Group 1', 'Group 2', 'Group 1 Mean', 'Group 2 Mean',
                     'Group 1 STD', 'Group 2 STD', 'Group 1 Count', 'Group 2 Count',
                     't-statistic', 'pvalue']
statisticsOver8.head()

              Group 1              Group 2  ...  t-statistic        pvalue
0  Control_Over_eight   Control_Over_eight  ...     0.000000  1.000000e+00
1  Control_Over_eight       HLU_Over_eight  ...     2.067862  3.884317e-02
2  Control_Over_eight       LDR_Over_eight  ...     1.079430  2.806054e-01
3  Control_Over_eight  simSpace_Over_eight  ...    -4.919654  9.774983e-07
4      HLU_Over_eight   Control_Over_eight  ...    -2.067862  3.884317e-02

[5 rows x 10 columns]

In [23]:
all_stats = pd.concat([statistics02, statistics24, statistics46, statistics68, statisticsOver8],
                      axis=0)
all_stats.to_csv('GLDS-211_CV_stats.csv')